body {
    width: 800px;
}
table {
    border-collapse: collapse;
    width: 567px;
}
.header_img_01 {
    width: 800px;
    height: 102px;
}
.header_img_02 {
    height: 33px;
}
aside {
    width: 233px;
    float: left;
}
main {
    width: 567px;
    float: right;
}
.article_img_01 {
    width: 515px;
    height: 35px;
}
.article_img_02 {
    width: 111px;
    height: 20px;
}
.table_01 table, .table_01 td {
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: small;
}
.table_01 th {
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: x-small;
}
.person {
    width: 70px;
}
.cost {
    color: rgb(255, 150, 115);
    font-size: x-small;
}
.reserve_01 {
    background-color: rgb(247, 247, 247);   
}
.notice {
    border-style: solid;
    border-color: rgb(175, 220, 230);
    font-size: small;
    width: 567px;
    text-align: center;
    color: rgb(18, 104, 166);
    background-color: rgb(208, 237, 243);
    font-weight: bold;
}
.check {
    text-align: center;
    font-size: small;
}
.article_img_03 {
    width: 111px;
    height: 20px;
}
.table_02 table, .table_02 td {
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: small;
}
.table_02 th {
    border-style: solid;
    border-color: rgb(228, 228, 228);
    font-size: x-small;
    width: 60px;
}
button {
    border: none;
    margin: 0;
    padding: 0;
}
.submit_button {
    text-align: center;
}
.now_payment {
    width: 84px;
    height: 27px;
}
.reservation .retry{
    width: 71px;
    height: 27px;
}